{% extends 'base.html.twig' %}

{% block title %}FoodCarnet Accueil{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 blocTexte">
            <div class="homeTexte">
                <h1>Retrouvez un large panel de recette sur notre plateforme !</h1>
                <p>Prennez une minute pour découvrir des centaines de recette</p>
                <div class="row">
                    <div class="col-md-4 ofsset-md-2">
                        <button class="btn btn-primary"> Voir toute nos recette</button>
                    </div>
                    <div class="col-md-4 ofsset-md-2">
                        <button class="btn btn-danger">Nous contacter</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 gx-0 px-0">
            <div class="homeImage">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center mt-5 mb-5">Nos derniere recette !</h2>
            <div class="row blocLogin">
                <div class="col-md-4">
                    <div class="card bg-dark text-white">
                        <img class="card-img" src="https://cdn.pixabay.com/photo/2015/04/08/13/13/food-712665_1280.jpg" alt="Card image">
                        <div class="card-img-overlay">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <p class="card-text">Last updated 3 mins ago</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bg-dark text-white">
                        <img class="card-img" src="https://cdn.pixabay.com/photo/2015/04/08/13/13/food-712665_1280.jpg" alt="Card image">
                        <div class="card-img-overlay">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <p class="card-text">Last updated 3 mins ago</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bg-dark text-white">
                        <img class="card-img" src="https://cdn.pixabay.com/photo/2015/04/08/13/13/food-712665_1280.jpg" alt="Card image">
                        <div class="card-img-overlay">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <p class="card-text">Last updated 3 mins ago</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}