<form method="post" action="{{ path('fix_delete', {'idfix': fix.idfix}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ fix.idfix) }}">
    <button class="btn">Delete</button>
</form>
